*{
    box-sizing: border-box;
}

.container{
    max-width: 1200px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 50px;
    padding-right: 50px;
}

body{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.5px;
    margin: 0;
    padding: 0;
}

.site-header{
    border-top: 5px solid #FF7500;
    padding-top: 16px;
    padding-bottom: 16px;
}
.site-header-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.site-header-action{
    display: flex;
    align-items: center;
}

.logo-img{
    transition: 0.5s;
}

.logo-img:hover{
    opacity: 0.8;
}

.sitenav{
    margin-right: 32px;
}

.sitenav ul li{
    display: inline-block;
    margin: 0 20px;
    position: relative;
}

.sitenav ul li:after{
    content: "";
    height: 3px;
    width: 0;
    background: #FF7500;
    position: absolute;
    left: 0;
    bottom: -5px;
    transition: 0.5s;
}
.sitenav ul li:hover::after{
    width: 100%;
}

.sitenav-list{
    display: flex;
    list-style: none;
}

.sitenav-item:not(:last-child){
    margin-right: 32px;
}

.sitenav-link{
    text-decoration: none;
    color: #000;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 13px;
    letter-spacing: 1px;
    transition: 0.5s;
}

.sitenav-link:hover {
    color: #FF7500;
}
.sitenav-link:active{
    opacity: 0.6;
}

.main-button{
    background-color: #FF7500;
    padding: 12px 24px;
    text-decoration: none;
    color: #fff;
    font-weight: 700;
    border-radius: 4px;
}

.main-button:hover{
    opacity: 0.8;
}

.main-button:active{
    opacity: 0.6;
}

/*Hero*/

.hero{
    background-color:#252420;
    color: #fff;
}

.hero-container{
    display: flex;
    justify-content: space-between;
}

.hero-content{
    width:387px;
    height: 328px;
    padding-top: 80px;
    padding-bottom: 80px;
}

.hero-devider{
    width: 80px;
    height: 3px;
    background-color: #FF7500;
    border: none;
    margin:0px;
    margin-bottom: 40px;
}

.hero-heading{
    font-family:'Roboto Condensed' sans-serif;
    font-weight: 700;
    font-size: 40px;
    line-height: 48px;
    letter-spacing: 0.5px;
    margin-top: 0px;
    margin-bottom: 24px;
}

.hero-paragraph{
    width: 387px;
    height: 96px;
    margin-top: 0px;
    margin-bottom: 32px;
}

.hero-img{
    filter: drop-shadow(24px 24px 0 rgba(255, 117, 0, 0.6));
    margin-top: 40px;
}

.features-container{
    display: flex;
}

.features-action{
    height: 936px
}

.features-line{
    margin-top: 209px;
}
.features-heading{
    font-family: 'Roboto Condensed'sans-serif;
    font-weight: 700;
    font-size: 72px;
    line-height: 86.4px;
    letter-spacing: 0.5px;
    width: 435px;
    height: 172px;
}
.features-heading2{
    font-family: 'Roboto Condensed' sans-serif;
    font-weight: 700;
    font-size: 24px;
    line-height: 28.8px;
    margin-top: 0px;
    margin-bottom: 12px;
}

.features-paragraph{
    width: 314px;
    height: 72px;
}
.features-item{
    list-style: none;
}

.features-icons{
    margin-top: 0px;
    margin-bottom: 32px;
}


.sale-action{
    background-color: #252420;
    display: flex;
    justify-content: space-between;
    border-radius: 12px;
    margin-top: 120px;
    color: #fff;
}
.sale-content{
    margin-left: 64px;
}

.sale-heading{
    font-family: 'Roboto Condensed' sans-serif;
    font-weight: 700;
    font-size: 40px;
    line-height: 48px;
    margin-top: 64px;
    margin-bottom: 24px;
    width:373px;
}

.sale-paragraph {
    width: 440px;
    height: 48px;
    margin-top: 0px;
    margin-bottom: 12px;
}

.sale-paragraph2 {
    width: 440px;
    height: 48px;
    margin-top: 0px;
    margin-bottom: 36px;
}

.sale-span{
    color:#FF7500
}

.sale-img{
    margin-right: 64px;
    margin-bottom: 35px;
}

.site-footer{
    background-color:#F8F8F8;
}

.site-footer-container{
    margin-top: 160px;
}

.footer-logo-icons{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer-logo{
    margin-top: 67px;
    margin-bottom: 40px;
}

.footer-icons{
    margin-top: 80px;
    margin-bottom: 58px;
}

.footer-icon{
    margin-right: 16px;
}

.footer-devider{
    width: 1100px;
}

.site-footer-bottom{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 5px;
    justify-content: space-between;
}

.footer-link{
    text-decoration: none;
    text-transform: capitalize;
    color: #000000;
}

.sitefooter-paragraph{
    transition: 0.5s;
}

.sitefooter-paragraph:hover{
    color: #FF7500;
}
.sitefooter-paragraph:active{
    opacity: 0.6;
}











